# Data Science Capstone Two Project: Ecommerce Fraud Data

### Project Description

* Checking for similarities/correlations between potentially fradulent customers

### Data Source

* The Datasets consists of 2 csv files both containing information on ecommerce transactions made by customers.
* To detect Fraud using this data one needs to perform proper EDA and feature engineering to obtain good results. 
* Data Retrieved November 04, 2011 from (https://www.kaggle.com/aryanrastogi7767/ecommerce-fraud-data)

In [1]:
#Import python libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Load the Data 

transactions_df = pd.read_csv('/Users/Maryam/Desktop/Data Science Intro/CAPS_PROJECT_2/Data/cust_transaction_details (1).csv',index_col=0)

customers_df = pd.read_csv('/Users/Maryam/Desktop/Data Science Intro/CAPS_PROJECT_2/Data/Customer_DF (1).csv', index_col=0)

In [3]:
#Get the shape of the transaction data
transactions_df.shape

(623, 10)

In [4]:
# Get the information on the data

transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 0 to 622
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   customerEmail                     623 non-null    object
 1   transactionId                     623 non-null    object
 2   orderId                           623 non-null    object
 3   paymentMethodId                   623 non-null    object
 4   paymentMethodRegistrationFailure  623 non-null    int64
 5   paymentMethodType                 623 non-null    object
 6   paymentMethodProvider             623 non-null    object
 7   transactionAmount                 623 non-null    int64
 8   transactionFailed                 623 non-null    int64
 9   orderState                        623 non-null    object
dtypes: int64(3), object(7)
memory usage: 53.5+ KB

In [5]:
# Describe the dataframe

transactions_df.describe().T

,count,mean,std,min,25%,50%,75%,max
paymentMethodRegistrationFailure,623.0,0.131621,0.338350,0.0,0.0,0.0,0.0,1.0
transactionAmount,623.0,34.598716,20.360247,10.0,21.0,34.0,45.0,353.0
transactionFailed,623.0,0.269663,0.444141,0.0,0.0,0.0,1.0,1.0

In [6]:
# View the form of the transaction data

transactions_df.head()

,customerEmail,transactionId,orderId,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,transactionAmount,transactionFailed,orderState
0,josephhoward@yahoo.com,a9lcj51r,vjbdvd,wt07xm68b,1,card,JCB 16 digit,18,0,pending
1,josephhoward@yahoo.com,y4wcv03i,yp6x27,wt07xm68b,1,card,JCB 16 digit,26,0,fulfilled
2,evansjeffery@yahoo.com,5mi94sfw,nlghpa,41ug157xz,0,bitcoin,American Express,45,0,fulfilled
3,evansjeffery@yahoo.com,br8ba1nu,uw0eeb,41ug157xz,0,bitcoin,American Express,23,0,fulfilled
4,evansjeffery@yahoo.com,a33145ss,bn44oh,y3xp697jx,1,bitcoin,VISA 16 digit,43,1,fulfilled

In [7]:
#Get the shape of the customer data

customers_df.shape

(168, 9)

In [8]:
# Get the information on the data

customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168 entries, 0 to 167
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerEmail           168 non-null    object
 1   customerPhone           168 non-null    object
 2   customerDevice          168 non-null    object
 3   customerIPAddress       168 non-null    object
 4   customerBillingAddress  168 non-null    object
 5   No_Transactions         168 non-null    int64
 6   No_Orders               168 non-null    int64
 7   No_Payments             168 non-null    int64
 8   Fraud                   168 non-null    bool
dtypes: bool(1), int64(3), object(5)
memory usage: 12.0+ KB

In [9]:
# View the form of the customer dats

customers_df.head()

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,No_Transactions,No_Orders,No_Payments,Fraud
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",2,2,1,False
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,3,3,7,True
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",5,3,2,False
3,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM...",3,3,1,False
4,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,...",7,7,6,True

In [10]:
customers_df.describe().T

                 count      mean       std  min  25%  50%  75%   max
No_Transactions  168.0  3.708333  2.801527  0.0  1.0  4.0  5.0  15.0
No_Orders        168.0  2.845238  1.981919  0.0  1.0  3.0  4.0   8.0
No_Payments      168.0  2.035714  2.113240  0.0  1.0  1.0  2.0  15.0

## Part I. Data Wrangling

### Data Cleaning

In [11]:
# Check for duplicates in transactions 

transactions_df_duplicates = transactions_df.duplicated().sum()

transactions_df_duplicates

0

In [12]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#Filter the transactions dataframe to display transaction instance
#transpose method, but you can access this conveniently with the `T` property.

transactions_df[transactions_df.transactionId == 'a9lcj51r'].T

                                                       0
customerEmail                     josephhoward@yahoo.com
transactionId                                   a9lcj51r
orderId                                           vjbdvd
paymentMethodId                                wt07xm68b
paymentMethodRegistrationFailure                       1
paymentMethodType                                   card
paymentMethodProvider                       JCB 16 digit
transactionAmount                                     18
transactionFailed                                      0
orderState                                       pending

In [13]:
# Check for missing values in transactions 

transactions_df_na = transactions_df.isna().sum()

transactions_df_na

customerEmail                       0
transactionId                       0
orderId                             0
paymentMethodId                     0
paymentMethodRegistrationFailure    0
paymentMethodType                   0
paymentMethodProvider               0
transactionAmount                   0
transactionFailed                   0
orderState                          0
dtype: int64

In [14]:
#Use transactions data`select_dtypes` method to select columns of dtype 'object'
transactions_df.select_dtypes(include=['object'])

,customerEmail,transactionId,orderId,paymentMethodId,paymentMethodType,paymentMethodProvider,orderState
0,josephhoward@yahoo.com,a9lcj51r,vjbdvd,wt07xm68b,card,JCB 16 digit,pending
1,josephhoward@yahoo.com,y4wcv03i,yp6x27,wt07xm68b,card,JCB 16 digit,fulfilled
2,evansjeffery@yahoo.com,5mi94sfw,nlghpa,41ug157xz,bitcoin,American Express,fulfilled
3,evansjeffery@yahoo.com,br8ba1nu,uw0eeb,41ug157xz,bitcoin,American Express,fulfilled
4,evansjeffery@yahoo.com,a33145ss,bn44oh,y3xp697jx,bitcoin,VISA 16 digit,fulfilled
...,...,...,...,...,...,...,...
618,dawn05@tucker-brown.com,7yilsi1o,1bubxa,7yen1m1q8,card,VISA 13 digit,fulfilled
619,dawn05@tucker-brown.com,c82k5bcv,1bubxa,7yen1m1q8,card,VISA 13 digit,fulfilled
620,dawn05@tucker-brown.com,wmh52bns,1bubxa,3zmkegkb8,paypal,JCB 15 digit,fulfilled
621,dawn05@tucker-brown.com,xdw33hfp,p0gdbf,3zmkegkb8,paypal,JCB 15 digit,fulfilled
622,dawn05@tucker-brown.com,wgmajf82,5lmvrj,f0xnu5om9,card,JCB 16 digit,fulfilled

In [15]:
# Check for duplicates in customers

customers_df_duplicates = customers_df.duplicated().sum()

customers_df_duplicates

0

In [16]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#Filter the customers dataframe to display one customer
#transpose method, but you can access this conveniently with the `T` property.

customers_df[customers_df.customerEmail == 'uchen@malone.com'].T

                                                                        4
customerEmail                                            uchen@malone.com
customerPhone                                              1-981-877-0870
customerDevice                                       j0pd24k5h8dl2fqu0cz4
customerIPAddress                                          196.89.235.192
customerBillingAddress  148 Russell Lodge Apt. 445\nPort Jenniferside,...
No_Transactions                                                         7
No_Orders                                                               7
No_Payments                                                             6
Fraud                                                                True

In [17]:
# Check for missing values in customers 

customers_df_na = customers_df.isna().any()

customers_df_na

customerEmail             False
customerPhone             False
customerDevice            False
customerIPAddress         False
customerBillingAddress    False
No_Transactions           False
No_Orders                 False
No_Payments               False
Fraud                     False
dtype: bool

In [18]:
#Check for unique customers in transactions df

unique_trans_emails = transactions_df['customerEmail'].nunique()

unique_trans_emails

136

In [19]:
#Check for unique and duplicated transactions in transactions df

unique_transactions = transactions_df['transactionId'].nunique()

duplicated_transactions = transactions_df['transactionId'].duplicated().sum()

print(unique_transactions,",",duplicated_transactions)

623 , 0

In [20]:
# Check for unique emails in customers data set

unique_cust_emails = customers_df['customerEmail'].nunique()

unique_cust_emails

161

In [21]:
#Use customer data`select_dtypes` method to select columns of dtype 'object'
customers_df.select_dtypes(include=['object'])

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"
3,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM..."
4,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,..."
...,...,...,...,...,...
163,mitchellvickie@brewer-jones.com,313-124-3836x3528,ecu7ezz0ue67v3fce1o3,181.90.104.120,"829 Ramirez Dam Suite 648\nGatesview, OR 55669..."
164,sbrown@hughes.biz,(250)632-6631x02499,xgv918sclaz40qlp2fee,16.166.2.0,"9472 Pacheco Islands Suite 940\nDrewburgh, AZ ..."
165,johnlowery@gmail.com,635.676.0955x524,969zz9zdj8z4gns4sx5p,f82c:811f:8a02:e2d6:79b:fcaa:42de:570b,"548 Bryant Inlet\nVeronicaside, OK 00522"
166,ethompson@jackson-sanders.com,962.300.2250,navessqcnmc9csfjn5cj,203.246.172.244,"16953 Jennifer Springs\nKathybury, IL 02095-3215"
167,dawn05@tucker-brown.com,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919"

In [22]:
#There are total 168 entries in customers df and just 161 unique email addresses, there must repetitions.
#Isolate repeated customer emails.

emails=[]
duplicates = 0
frequency_emails={}
for i in range(len(customers_df.index)):
    duplicates= 0
    for j in range(len(customers_df.index)):
        if customers_df['customerEmail'][i] == customers_df['customerEmail'][j]:
            duplicates+=1
    frequency_emails.update({customers_df['customerEmail'][i]:duplicates})
frequency_emails    

duplicates = []

for (emails, repeates) in frequency_emails.items():
    if (repeates > 1):
        duplicates.append(emails)         
duplicates

['johnlowery@gmail.com']

In [23]:
#Isolate all fradulent customer emails and check if 
fradulent_customers = customers_df[customers_df['Fraud'] == True]

#Check if our duplicated email is among fradulent customers

fradulent_customers[fradulent_customers['customerEmail'] == 'johnlowery@gmail.com']

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,No_Transactions,No_Orders,No_Payments,Fraud
7,johnlowery@gmail.com,044-642-9860,rjb0adai34izqvys4938,212.144.68.190,"484 Pamela Pass\nLake Jessicaview, WI 12942-9074",6,5,2,True
40,johnlowery@gmail.com,737-377-9701x577,jz66ap43id2y35ivfqa5,6c21:ac1d:2089:68fa:abb7:8c00:525f:6588,"08238 Kyle Squares Suite 893\nMillermouth, IN ...",0,0,1,True
45,johnlowery@gmail.com,+16(4)9016414340,cdx178qymd6vy77nm4x3,222.79.159.140,"77711 Pamela Ridge\nNew Kayla, IL 27182",3,2,1,True
65,johnlowery@gmail.com,04712252182,311kdz4c1210iixltk2j,42b3:df19:86fe:abd9:dafe:f6c1:eb76:c72,"11704 Andrew Villages Apt. 035\nJamesfurt, OR ...",7,5,1,True
79,johnlowery@gmail.com,1-820-539-4726x993,2in0fh7lep289n8dcbdz,163.128.139.42,"814 Wagner Union\nAshleymouth, HI 35617",2,2,1,True
133,johnlowery@gmail.com,1-143-059-1833,tyijaify2hqadwslejyr,e4c:fb48:8ee2:9819:6ae8:8d3f:3b6a:a788,"518 Wood Mews Apt. 970\nDillonstad, NE 43317-3945",0,0,0,True
155,johnlowery@gmail.com,076-099-0630x72770,6qy6oa3nqutsyyxzc54c,f259:657f:f329:2fca:c06c:8b57:d6ac:2380,"687 Rogers Bridge Suite 780\nValdezburgh, IN 2...",6,5,3,True
165,johnlowery@gmail.com,635.676.0955x524,969zz9zdj8z4gns4sx5p,f82c:811f:8a02:e2d6:79b:fcaa:42de:570b,"548 Bryant Inlet\nVeronicaside, OK 00522",4,4,2,True

#### Changing the column names to prepare for our join of the two datasets

In [24]:
# Used the merge() method to join Customers to transactions database and drop duplicates
df = pd.merge(transactions_df, customers_df, on='customerEmail')

df = df.drop_duplicates(subset='transactionId')

In [25]:
# Check for duplicates in joint database
df_duplicates = df.duplicated().sum()

df_duplicates

0

In [26]:
# Check for missing values in joint database
missing_values = df.customerEmail.isnull().sum()

missing_values

0

In [27]:
# Separate states for fraud cases

df["State"] = df["customerBillingAddress"].str.split(",", expand=True)[1]

df["State"] = df['State'].str.replace('\d+', '')

df["State"] = df['State'].str.replace(r"[^a-zA-Z0-9]", '')

df

<ipython-input-27-1efbb6f64220>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df["State"] = df['State'].str.replace('\d+', '')
<ipython-input-27-1efbb6f64220>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df["State"] = df['State'].str.replace(r"[^a-zA-Z0-9]", '')

,customerEmail,transactionId,orderId,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,transactionAmount,transactionFailed,orderState,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,No_Transactions,No_Orders,No_Payments,Fraud,State
0,josephhoward@yahoo.com,a9lcj51r,vjbdvd,wt07xm68b,1,card,JCB 16 digit,18,0,pending,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",2,2,1,False,CA
1,josephhoward@yahoo.com,y4wcv03i,yp6x27,wt07xm68b,1,card,JCB 16 digit,26,0,fulfilled,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",2,2,1,False,CA
2,evansjeffery@yahoo.com,5mi94sfw,nlghpa,41ug157xz,0,bitcoin,American Express,45,0,fulfilled,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,3,3,7,True,NM
3,evansjeffery@yahoo.com,br8ba1nu,uw0eeb,41ug157xz,0,bitcoin,American Express,23,0,fulfilled,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,3,3,7,True,NM
4,evansjeffery@yahoo.com,a33145ss,bn44oh,y3xp697jx,1,bitcoin,VISA 16 digit,43,1,fulfilled,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,3,3,7,True,NM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,dawn05@tucker-brown.com,7yilsi1o,1bubxa,7yen1m1q8,0,card,VISA 13 digit,25,1,fulfilled,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919",7,5,4,False,KS
815,dawn05@tucker-brown.com,c82k5bcv,1bubxa,7yen1m1q8,0,card,VISA 13 digit,25,0,fulfilled,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919",7,5,4,False,KS
816,dawn05@tucker-brown.com,wmh52bns,1bubxa,3zmkegkb8,0,paypal,JCB 15 digit,25,1,fulfilled,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919",7,5,4,False,KS
817,dawn05@tucker-brown.com,xdw33hfp,p0gdbf,3zmkegkb8,0,paypal,JCB 15 digit,19,0,fulfilled,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919",7,5,4,False,KS
818,dawn05@tucker-brown.com,wgmajf82,5lmvrj,f0xnu5om9,0,card,JCB 16 digit,27,0,fulfilled,(089)703-7360x8848,lu4fgcug8dr0dwbcuui1,132.132.95.33,"130 Kimberly Junctions\nEricmouth, KS 59756-2919",7,5,4,False,KS

In [28]:
# save the data to a new csv file
datapath = '../data/summary_data_cleaned.csv'

df.to_csv(datapath)